<footer>
    <p class="follow">
         Writing About Cryptocurrency

        <a href=""> CoinmarketCap </a>
    </p>

    <p class="design">Designed and developed by Cheikh Zad © 2022</p>
</footer>