<header class="myheader">
  <h1>
    <a style="all: unset" href="/">Crypto4all</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://coin360.com/" target="_blank">
          All News
        </a>
      </li>
      <li><a href="/add-new-article"> Add new article </a></li>
      <li id="dark" class="mode">Change mode 🌑 </li>
      <li><a href=""> Floki to the Moon 🔥 🔥 🔥 </a></li>
    </ul>
  </nav>
</header>
